body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.bg-image {
    background-image: url('photo-collage.png.png'); /* Link to your full-page background image */
    background-size: cover;
    background-position: center;
    height: 100%;
}

.text-container {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 15px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
}

.center-text {
    text-align: center;
}
